.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width:250px;
    height: 430px;
    border-radius: 20px;
    background-color: #6245BB;
    color: white;

}